
header {width: 200vh}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 12px 18px;
  /* box-shadow: 0px 4px 7px #777; */
  transition: background-color 0.4s ease-out;
}
nav a {
   color: #00234b;
   text-decoration: none !important;
}
nav a:hover {
   color: #f44659;
}
.body {
  background-color: #f4f4f4
}
.header {
  background-color: #f4f4f4
}
.logo {
  display: ruby-base;
}
.logo img {
  width: 50px;
  margin-left: 12%
}

.navbar {
  margin-top: -10px;
  width: 100%;
  display: flex ;
}
.link {
  z-index: 999;
margin-left: auto;
margin-top: 18px;
}
.link a {
  font-weight : bolder;
  font-size: 12px;
  margin-right: 50px;
}
.link a:hover {
  font-weight : 800;
  color: #00234b

}
.find {
  z-index: 1;
  position: relative;
  font-weight : bolder;
  margin-top: -37px;
  margin-left: 50px
}
.find h1 {
  font-size: 58px;
  font-weight : bolder;
}
.search_imput {
  height: 50px ;
  margin-top: auto !important;
  margin-bottom: 0px !important;
  border-radius: 0px 0px 0px 0px;
}
.search_imput.first {
  border-radius: 30px 0px 0px 30px;
}
.link-patient {
display: -webkit-inline-box;
}
.link-patient p {
  font-weight: 900;
  color: #00234b ;
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: -1px;
  /* margin-top: 10px; */
}
.link-patient a {
margin-right: 20px;
}
.dropdown {
  margin-left: 49% !important ;
}
.dropdown-menu {
  min-width: 8rem !important ;
}
.simple_button {
  height: auto;
  color: #00234b ;
  background-color:#d473d4 ;
  margin-top: -2px;
  border-radius: 0px 30px 30px 0px;
}
.dropdown {
  margin-left: 63%;
  margin-top: 21px;
}
.bannier_image {
  z-index: 1;
  height: 50px;
  margin-right: auto;
  margin-left: 735px;
  margin-top: -348px;
}
.bannier_image img{
  height: 450px;
  width: 650px;

}
.header{
  width: 102%;
}
.secteur {
    width: 100%;
}
.bannier2 {
  margin-top: 30px;
   margin-left: 20px;
   z-index: 0 ;
   position: relative;
}
.bannier2 img {
  width: 91px;
  margin-left: 26px;
  margin-top: -27px;
}
.bannier_text {
    width: 70%;
    position: relative;
  z-index: 2;
  margin-top: 70px;
  margin-left: 50px
}
.text-logo {
  font-weight: 800;
  font-size: 20px;
}
.image-logo {
  margin-top: -5px
}


/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
input[type="text"] {
  width: 150%;
  border: none;
  /*border-radius: 4px;*/
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
  /*height: 59px;*/
}

.inputWithIcon {
  margin-right: 59px !important;
  position: relative;
}
.inputWithIcon.firt{
  margin-right: 46px !important;
  position: relative;
  border-radius: 30px 0px 0px 30px;
}

.inputWithIcon img {
  position: absolute;
  width: 40px;
  height: auto;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}


.inputWithIcon.inputIconBg img {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

 .image-search {
   margin-left: 14px;
 }
 .search {
   margin-top: -200px;
   margin-top: 9%;
   z-index: 1;
   margin-left: 121px !important;
   width: 89% !important;
   margin-right: auto;
 }
.bannier-search {
  z-index: 0;
  margin-top: -196px;
  margin-bottom: 100px;
  margin-left: 34%;
}
.bannier-search img {
  width: 208px;
  margin-left: -6px;
  margin-top: 49px;
}
.secondary {
  background-color: #f4f4f4;
  position: relative;
  top: 65px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #00234b ;
}
.card-speciality {
  text-align: center;
}
.image-speciality img {
  width: 27%;
  height: auto;
}
.text-title {
  font-weight: 800;
  font-size: 22px;
  margin-top: 8px;
  color: #00234b ;
}
.all {
  margin-top: 80px
}

.doctor-speciality {
  margin-bottom: 80px;
}
.secteur2 {
  background-color: #f4f4f4;
}
.first-image img {
  width: 50%;
  margin-top: -498px;
  margin-left: 10px;
  height: auto;
  z-index: 1
}
.second-image img {
  width: 30%;
  margin-top: -680px !important;
  margin-left: 60px;
  margin-top: 80px;
  z-index: 1
}
.text-mobile {
  margin-top: 100px;
  margin-left: 50%;
  background-color: #f4f4f4;
}
.text-mobile h4 {
  color: #00234b ;
  margin-right: 20px;
  text-align: right;
  font-size: 65px;
  font-weight: 800;
}
.text-mobile ul {
  list-style: none;
  color: #00234b ;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 80px;
}

.image-service img {
  float: right;
  width: 50%;
  margin-right: 65px !important;
  margin-top: -200px;
}
.text-service {
  float: left;
}
.text-service h4 {
  color: #00234b ;
  margin-right: 20px;
  text-align: left;
  font-size: 65px;
  font-weight: 800;
}
.text-service p {
  color: #00234b ;
  margin-right: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.text-service ul {
  list-style: none;
  color: #00234b ;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  margin-top: 50px;
}
.text-service {
  z-index: 1;
  position: relative;
  margin-top: 200px;
  margin-left: 90px;
}
.image-service img {
  z-index: 0;
  margin-top: -500px;
  margin-right: 20px;
}
.text-service button {
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 30px 30px 30px 30px;
}
.text-service button img {
  width: 20px;
  height: auto;
}
.button-first {
  background-color: #f44659;
  color: #00234b ;
  border: none ;
  height: 50px;
  width: auto;
}
.secteur4 {
  margin-top: 1000px;
}
.image-patient {
  float: left;
  margin-left: 50px;
  margin-top: 46px
}
.text-patient {
  float: right;
  margin-right: 20px;
}
.text-patient h5 {
  color: #00234b ;
  text-align: right;
  margin-right: 40px;
  font-size: 50px;
  font-weight: 800;
  margin-top: 33px;
}
.text-patient p {
  margin-top: 50px;
  float: right;
  margin-right: 50px;
  text-align: right;
  color: #00234b ;
  font-weight: 600;
  font-size: 23px;
}
.button-second {
  float: right;
  text-align: center;
  margin-top: 50px;
  margin-right: 70px;
  background-color:  #46d5fc ;
  color: #00234b;
  border: none;
  border-radius: 30px 30px 30px 30px;
  height: 50px;
  width: 30%;

  font-size: 18px
}
.secteur5 {
  background-color: white
}
.title h4 {
  margin-top: 1373px;
  color: #00234b ;
  text-align: left;
  margin-right: 40px;
  font-size: 50px;
  margin-left: 50px;
  font-weight: 800;
}
.col-md-6 h6 {
  color: #00234b;
  font-weight: 800;

  font-size: 30px;
  margin-left: 200px;
  margin-top: 50px;
}
.col-md-6 ul {
  font-weight: 800;
  color: #00234b;
  list-style: none;
  margin-left: 200px;
  margin-top: 50px;
}
.col-md-6 a {
  text-decoration: underline;
  color: #00234b;
  font-size: 20px;
  margin-left: 200px;
}
.col-md-6 a:hover {
  color: #f44659;

}
.col-md-6.no-href {
  color: #f44659;
}
.col-md-6 li {
  margin-bottom: 10px;
}
footer {
  background-color: #f44659;
}
.title-first {
  color:  #00234b;
  font-size: 25px;
  margin-top: 40px;
  margin-right: 50px;
}
.all-footer {
  width: 90%;
  margin-left: 76px !important;
}
.col-md-3 a {
  line-height: 140%;
  margin-top: 40px !important;
  color:  #00234b;
}
.col-md-3 a img {
  height: 50px;
  width: auto;
  margin-bottom: 30px;
}
.simple_button {
  height: 49px;
  border: none;
  position: relative;
  top: 2px
}
.col-md-3 a:hover {
  color:  #00234b;
}
.copy {
  margin-top: 50px !important;
  text-align: center;
  display: inline;
}
.copy a{
  color:  #00234b;}
footer {
  width: 102%
}
.copy a:hover{
    color: #00234b}
.contente  {
  margin-top: -52px !important;
  width: 100%;
  /* margin: auto; */
}

.sign {
  background-color: white;
  z-index: 0;
  height: auto;
  margin-left: 20%;
  width: 70%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 3px 34px -17px ;
/* width: max-content; */
}

.auth {
  position: relative;
  z-index: 999;
  margin-top: 50px;
  text-align: center;
  margin-left: 30%
}

.auth h4 {
  font-size: 23px;
  font-weight: 800;
  color: #00234b ;
}
.auth img {
  width: 6%;
  margin-left: 20px;
  margin-right: 20px;
}
.or {
  position: relative;
  top: -5px;
  left: 64%;
display: -webkit-inline-box;
}
.or p {
  color: #46d5fc;
  font-weight: bolder;

}
.or h6 {
  margin-left: 1px;
  margin-right: 1px;
  color: #00234b;
  font-size: 20px;
  font-weight: bolder;
}
.form-sign {
  position: relative;
  z-index: 999;
  margin-right: 38px;
  margin-left: 33%;
  margin-bottom: 50px !important;
}
.form-input {
  width: inherit !important;
  border-radius: 30px 30px 30px 30px !important;
  background-color: #f4f4f4;
}

.form-sign label {
  color: #00234b;
  margin-bottom: 0px;
  margin-top: -19px;
  margin-left: 6px;
  font-size: 13px;
  font-weight: bolder;
}
.image-sign {
  margin-top: -777px;
  margin-left: 94px;
  z-index: 1;
  position: relative;
}
.image-sign img {
width: 41%;
}
.button3 {
  text-align: center;
  background-color: #660c99;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 30px 30px 30px 30px ;
  /*margin-bottom: 20px;
  margin-top: 30px;*/
  padding: 7px 20px;

  
}
}

.ml-40 {
  margin-left: 40% !important;
}
.ml-30 {
  margin-left: 31% !important;
}
.ml-20 {
  margin-left: 31% !important;
}
.ml-10 {
  margin-left: 10% !important;
}
.center {
  margin-left: 20%;
  margin-right: 20%;
}
#mon_select {
  padding: 10px;
  border: none;
  width: inherit !important;
  border-radius: 10px 10px 10px 10px !important;
  background-color: #f4f4f4;
}
.modal-dialog {
  max-width: 1350px !important;
}
.modal-content {
 background-color: none !important;
}
.modal-dialog {
margin-left: 1% !important;
}
.btn-secondary {
  position: relative;
  z-index: 999;
  background-color: #e4411f !important;
  border: none  !important;
  border-radius: 50% 50% !important;
  width: 3% !important;
  float: right !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
  font-weight: bolder !important;
}
.modal-body {
  margin-bottom: 2% !important;
 margin-top: -5% !important;
}
/* Create a custom checkbox */
.custom-control-input:checked .custom-control-label::before {
 border-color: #660c99 !important;
 background-color: #660c99 !important;
}

.form-sign a {
  text-align: center;
  color: #00234b ;
  margin-left: 176px;
  text-decoration: none;
  font-size: 13px;
}

.form-sign a:hover{
 color: #00234b ;
}
.sign-login {
    background-color: white;
    z-index: 0;
    height: auto;
    margin-left: 32%;
    width: 42%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 34px -17px;
}

.auth-login {
  position: relative;
  z-index: 999;
  margin-top: 50px;
  text-align: center;
}

.or-login {
  margin-top: 20px;
  margin-left: 10%;
display: -webkit-inline-box;
}
.or-login p {
  color: #46d5fc;
  font-weight: bolder;

}
.or-login h6 {
  color: #00234b;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 20px;
  font-weight: bolder;
}
.auth-login h1 {
  font-size: 38px;
  font-weight: 800;
  color: #00234b ;
}
.auth-login h4 {
  font-size: 20px;
  font-weight: 800;
  color: #00234b ;
}
.auth-login img {
  width: 6%;
  margin-left: 20px;
  margin-right: 20px;
}
.form-sign.login {
  margin-left: 8% !important;
}
.with-icon {
  display: inline-table !important;
}
.with-icon img  {
  width: 13px;
  position: relative;
  z-index: 9;
  margin-left: -36px;
}
.modal-content {
  background-color: transparent !important;
  border: none !important;
}

.co {
  width: 100%
}
.or-co h6 {
  color: #00234b;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 20px;
  font-weight: bolder;


}
.secteur2 {
  background-color: #f4f4f4
}


.line img {
  width: 500px;
 position: relative;
 top: 20px; left: 370px;
}

.ronde {
  height: 60px;
  width: auto;
  margin-top: 20px;
  margin-left: 40px;
}
.ronde1 {
  width: 10px;
  height: auto;
}
/* .two {
  width: 59%
} */
@media (max-width: 1000px) {
  .text-logo {
    display: none;
  }

.sign-login {

  margin-left: 21%;
  width: 59%;
}
  .or-login {
    display: none
  }
  .row.form-all-inputs {
    display: block;
  }
  .with-icon {
    width: 145%;
  }
  .with-icon img {
    margin-top: -37%;
    margin-left: 7%;
  }
  .custom-control {
    margin-top: -17%;
  }
    .modal-content.btn.btn-secondary {
      padding: inherit;
    }
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  .bannier_image {
    display: none
  }
  .find h1 {
    text-align: center;
    margin-left: 20%
  }
  .bannier2 img {
    margin-left: 50%
  }
  .search.row.center {
    display: inline-block;
  }
  .inputWithIcon.col-md-2{
    max-width: 51.667%;
    margin-bottom: 20px;
  }
  .search_imput.first {
    border-radius: 0px 0px 0px 0px;
  }
  .search_imput {
    border-radius: 30px 30px 30px 30px;
    text-align: center;
  }
  .col-md-1 {
    max-width: 96.333% !important;
    margin-bottom: 20px;
  }
  .col-md-1 button{
    width: 77%;
    border-radius: 30px 30px 30px 30px;
  }
  .text-mobile h4 {
    text-align: center;
    margin-left: -392px;
    margin-bottom: 11%;
  }
  .second-image {
    margin-top: 18%;
  }
  .text-mobile a {
    margin-left: 7%;
  }
  .one {
    margin-left: 18%
  }
  .text-service button {
    width: 82%;
    }
  .text-patient h5 {
    margin-top: -527px;
    text-align: center;
    margin-left: -30%
  }
  .text-patient p {
    margin-top: -196px;
    text-align: center;
    margin-right: 36%;
  }
 .button-second {
    width: 79% !important;
  }
  .title h4 {
    margin-top: 1279px;
    text-align: center;
  }
  .col-md-6 h6 {
   margin-left: 97px;
  }
  .col-md-6 ul {
    margin-left: 62px;
  }
 footer  .all-footer {
    display: none;
  }
}
@media (min-width: 700px) {
  .mobile {
  display: none
  }
}
@media (max-width: 700px) {
  #navbar {
    display: none
  }
  .find h1 {
    text-align: center;
    margin-left: -9%;
    font-size: 35px;
  }
  .bannier2 img {
    margin-left: 33%;
    margin-top: 10%;
  }
  .search {
    margin-top: 5%;
    z-index: 1;
    margin-left: 61px !important;
    width: 96% !important;
  }
  .bannier-search img {
    margin-bottom: 5%;
    width: 145px;
    margin-left: -16px;
    margin-top: 183px;
  }
  .title h2 {

    font-size: 23px;
    font-weight: bolder;
    color: #00234b;
  }

  .text-mobile h4 {

  color: #00234b;
  margin-right: 20px;
  font-size: 34px;
  font-weight: 800;
  margin-left: -200px;
  }
  .text-mobile ul {
    margin-left: -17px;
    list-style: none;
    color:#00234b;
    font-size: 13px;
    font-weight: 300;
  }
  .text-mobile a {
    margin-left: -2%;
    }
    .ronde {
    height: 39px;
    }
    .first-image img {
      margin-top: -241px;
    }
    .second-image img{
      margin-top: -467px !important;
    }
    .text-service h4 {
  color:  #00234b;
  margin-right: 20px;
  text-align: left;
  font-size: 29px;
  font-weight: 800;
 }
 .text-service p {

    color:   #00234b;
    margin-right: 89px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .text-service li{
    font-size: 12px;
  }
  .text-service ul {
    margin-left: -65px;
  }
  .text-service button {
    margin-left: 24px;
      width: 50%;
  }
  .image-service img {
    margin-top: -289px;
    margin-right: 120px !important;
  }
  .text-patient h5 {
    margin-right: -19px;
    font-size: 29px;
    }

/* style.css | file:///media/mahefa/9354923e-a7a8-4568-9324-94a03b7441e5/mahefa/bureau_ubuntu/template/css/style.css */

      .text-patient p {
        /* margin-top: -196px; */
        /* text-align: center; */
        /* margin-right: 36%; */
        margin-top: -348px;
      }

    .text-patient p {
      /* margin-right: 50px; */
      /* text-align: right; */
      /* font-size: 23px; */
      margin-right: 66px;
      font-size: 14px;
    }

    .image-patient {
     margin-left: 0px;
    }

/* Élément | file:///media/mahefa/9354923e-a7a8-4568-9324-94a03b7441e5/mahefa/bureau_ubuntu/template/index.html */
.image-patient > img:nth-child(1) {
  width: 67%;
  margin-left: 16%;
}


  .text-patient h5 {
    /* margin-top: -527px; */
    margin-top: -222px;
  }

  .text-patient p {
  margin-top: -38px;
  }
  .button-second {
  width: 68% !important;
  font-size: 90%;
  }

    .title h4 {
        margin-top: 934px;
      /* font-size: 50px; */
      font-size: 29px;
    }

    .col-md-6 h6 {
      margin-left: 148px;
      /* font-size: 30px; */
      /* margin-top: 50px; */
      font-size: 19px;
      margin-top: 28px;
    }

    /* style.css | file:///media/mahefa/9354923e-a7a8-4568-9324-94a03b7441e5/mahefa/bureau_ubuntu/template/css/style.css */

    .col-md-6 li {
    font-size: 13px;
    margin-left: 19%;
    }

    .col-md-6 a {
    /* font-size: 20px; */
    /* margin-left: 200px; */
    font-size: 17px;
    margin-left: 155px;
    }




    @import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
body {
  background: #F5F5F5;
}

.container {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container p {
  font-size: 20px;
}
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #f44659;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
.container a:after {
  content: '';
  position: absolute;
  background: #f44659;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

.button_container {
  position: fixed;
  top: 2%;
  margin-left: 9px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #f44659;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #f44659;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  z-index: 99
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.icon-image {
  width: 20px;
}
.icon-mobile {
  float: ;
}
.navbar-brand {
  margin-left: 10%;
}
.navbar-brand img {
  width: 30px;
}

}
